*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.content1{
    display: grid;
    grid-template-columns: 8% 89% 3% ;
    grid-template-rows: 13% 74% 13%;
}
.content1-1{
    grid-row: 2;
    grid-column:2;
}
.section-2{
    display: grid;
    grid-template-columns: 8% 40% 40% 8%;
    grid-template-rows: 8% 82% 8%;
}
.content2{
    grid-row: 2;
    grid-column: 2;
}
.List{
    grid-row: 2;
    grid-column: 3;
}
.section3{
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 5% 12% 60% 18% 5%;
}
.section31{
    grid-row: 2;
    grid-column:2 ;
}
.section32{
    grid-row: 3;
    grid-column:2 ;
}
.section33{
    grid-row: 4;
    grid-column:2 ;
}
.section34{
    grid-row: 2;
    grid-column:3 ;
}
.section35{
    grid-row: 3;
    grid-column:3 ;
}
.section36{
    grid-row: 4;
    grid-column:3 ;
}
.section37{
    grid-row: 2;
    grid-column:4 ;
}
.section38{
    grid-row: 3;
    grid-column:4 ;
}
.section39{
    grid-row: 4;
    grid-column:4 ;
}
.cards{
    background-color: rgba(84, 189, 149, 0.4);
}
.CardCarousel{
    display: hidden ;
  }
@media (max-width: 800px){
   .section1{
    flex-direction: column;
    height: 125vh !important;
   } 
   .content1{
    width: 100% !important;
    height: 60% !important;
  grid-template-rows: 8% 90% 4%;
    
   }
   .buttons1{
   
   left:25%;
   }
   .button-box-1{
    left:calc(100% - 50px) !important;
   }
   .Img1{
    width: 100% !important;
    height: 40% !important;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .section-2{
    display: grid;
    grid-template-columns: 8% 80% 8%;
    grid-template-rows: 4% 68% 20% 4%;
    height: 120vh !important;
}
.content2{
   text-align: center !important;
}
.List{
    display:none;
}
.carousel{
    grid-row: 3;
    grid-column: 2;
    display: block !important;
}
/* styles.css */
.section3 {
    display: none !important;
  }
  
  .section3-new {
    display: flex !important;
    height: 120vh !important;
  }
  .section4{
height: 120vh !important;
padding-top: 10%;
  }
  .cards{
    display: none !important;
  }
  .CardCarousel{
    display: block !important;
  }
  .section5-inner{
flex-direction: column !important;
height: 100% !important;
  }
  .section5{
    height: 120vh !important;
  }
  .Img-section5{
    height: 40% !important;
  }
  .content5{
    width: 100% !important;
    text-align: center !important;
    justify-content: space-around !important;
  }
  .button5{
    justify-content: center !important;
  }
}

@media (max-width: 470px){
    .content1-1-1{
        font-size: 3.3rem !important ;
    }
    .content1{
        display: grid;
        grid-template-columns: 4% 89% 3% ;
        
    }
    .content1-1-2{
        font-size: 1.4rem !important ;
    }
    .buttons1{
   
        left:10%;
        }
        .content2-1{
            font-size: 3rem !important ;
        }
        .section-2{
            display: grid;
            grid-template-columns: 2% 96% 2%;
            grid-template-rows: 4% 68% 20% 4%;
            height: 120vh !important;
        }
        .content2-2{
            font-size: 1.4rem !important ;
        }
}

@media (max-width: 390px){
    .content1-1-1{
        font-size: 3.1rem !important ;
    }
    .content1{
        display: grid;
        grid-template-columns: 2% 97% 1% ;
        
    }
    .content5-1{
        font-size: 3rem !important ;
    }
    .content4-1{
        font-size: 3rem !important ;
    }
}